<!DOCTYPE html>
<html>
  <head>
    <title>Bmi</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'default', media: 'all' %>
    <%= javascript_include_tag 'default'%>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
